ul.games {
    padding: 0 0;
    margin: 10px -5px;
    min-height: 147px;
    font-size: 0
}

ul.games li {
    margin-left: 5px;
    display: inline-block
}

ul.games li {
    font-size: 14px
}

div.game-thumbnail {
    display: inline-block
}

div.game-thumbnail,li.game-thumbnail {
    margin: 5px;
    position: relative;
    overflow: hidden;
    transition: all 0s ease 0s
}

div.game-thumbnail .title,li.game-thumbnail .title {
    width: 184px;
    height: 69px;
    padding: 4px;
    color: #555555;
    font-weight: bold;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    left: 4px;
    top: 4px
}

div.game-thumbnail .caption,li.game-thumbnail .caption {
    background-color: white;
    width: 184px;
    height: 58px;
    padding-bottom: 0
}

div.game-thumbnail .caption p,li.game-thumbnail .caption p {
    margin-bottom: 0px
}

div.game-thumbnail img,li.game-thumbnail img {
    width: 184px;
    height: 69px;
    position: absolute;
    left: 4px;
    top: 4px
}

div.game-thumbnail img:hover,li.game-thumbnail img:hover {
    opacity: 0.25
}

div.game-thumbnail.game-never-played,div.game-thumbnail[data-progress='never played'],li.game-thumbnail.game-never-played,li.game-thumbnail[data-progress='never played'] {
    padding-bottom: 0;
    border-bottom: 5px solid #eee
}

div.game-thumbnail.game-unfinished,div.game-thumbnail[data-progress='unfinished'],li.game-thumbnail.game-unfinished,li.game-thumbnail[data-progress='unfinished'] {
    padding-bottom: 0;
    border-bottom: 5px solid #f0ad4e
}

div.game-thumbnail.game-beaten,div.game-thumbnail[data-progress='beaten'],li.game-thumbnail.game-beaten,li.game-thumbnail[data-progress='beaten'] {
    padding-bottom: 0;
    border-bottom: 5px solid #5cb85c
}

div.game-thumbnail.game-completed,div.game-thumbnail[data-progress='completed'],li.game-thumbnail.game-completed,li.game-thumbnail[data-progress='completed'] {
    padding-bottom: 0;
    border-bottom: 5px solid #5bc0de
}

div.game-thumbnail.game-wont-play,div.game-thumbnail[data-progress='wont play'],li.game-thumbnail.game-wont-play,li.game-thumbnail[data-progress='wont play'] {
    padding-bottom: 0;
    border-bottom: 5px solid #d9534f
}

img.game-thumbnail {
    width: 194px;
    height: 79px
}

.game-media {
    padding-left: 10px
}

.game-media .media-left img {
    width: 184px;
    height: 69px
}

.game-media.game-never-played,.game-media[data-progress='never played'] {
    padding-left: 0;
    border-left: 10px solid #eee
}

.game-media.game-unfinished,.game-media[data-progress='unfinished'] {
    padding-left: 0;
    border-left: 10px solid #f0ad4e
}

.game-media.game-beaten,.game-media[data-progress='beaten'] {
    padding-left: 0;
    border-left: 10px solid #5cb85c
}

.game-media.game-completed,.game-media[data-progress='completed'] {
    padding-left: 0;
    border-left: 10px solid #5bc0de
}

.game-media.game-wont-play,.game-media[data-progress='wont play'] {
    padding-left: 0;
    border-left: 10px solid #d9534f
}
.thumbnail,div.game-thumbnail,li.game-thumbnail,.theme {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border 0.2s ease-in-out;
    -o-transition: border 0.2s ease-in-out;
    transition: border 0.2s ease-in-out
}
.thumbnail>img,div.game-thumbnail>img,li.game-thumbnail>img,.theme>img,.thumbnail a>img,div.game-thumbnail a>img,li.game-thumbnail a>img,.theme a>img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto
}

.thumbnail .caption,div.game-thumbnail .caption,li.game-thumbnail .caption,.theme .caption {
    padding: 9px;
    color: #333333
}
.text-center, li.game-placeholder, li.game-trashcan, .bucket, div.game-thumbnail, li.game-thumbnail, table#games .achievements, .game-table .achievements {
    text-align: center;
}